@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background: #D7DEF8;
}
img {
    width: 40px;
    height: 40px;
}

.big-card {
    border-radius: 25px;
    height: 20vh;
    width: 35vw;
    margin-top: 5%; 
    margin-left: 5%;
}

.small-card {
    border-radius: 25px;
    height: 10vh;
    width: 35vw;
    margin-top: 5%; 
    margin-left: 5%;
}
#main-container {
    display:grid;
    grid-template-columns: 40% 60%;
}
#calendar-container {
    background: #EDF1FF;
}
#groupstudy-container {
    background: #8A93E9;
    color: white;
}
#set-timer-button {
    background: #FFE0C3;
}
#dayofweek {
    border-radius: 50px;
    width: 20px;
    height:auto;
    background: #6C9EFF;
    color: white;
    padding: 25px;
    margin:auto;
}
#start-timer-button{
    background: #FFD7D7;
}
#session-container {
    grid-column: 2;
    background-image: url("../img/background.png");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1;
    width: 60vw;
    height: 100vh;
}


